{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Room Temps</title>
    <link rel="stylesheet" href="{% static 'data/styles/base.css' %}"
</head>
<body>
    <header>
        <nav><a href="/data">Main Room Temps</a></nav>
        <h1>Karl's Room Temperature</h1>
        <p>See the temperature inside or outside!</p>
    </header>
    <main>
        <section>
            <h2>Most Recently</h2>
            <ul>
                {% for data_point in temperatures %}
                    <li class="recent-temp-item">
                        <article>
                            <div class="recent-temp-summary">
                                <div class="recent-temp-details">
                                    <h3>{{ data_point.reading }}</h3>
                                    <address>{{ data_point.location }}</address>
                                </div>
                            </div>
                        </article>
                    </li>
                {% endfor %}
            </ul>
        </section>
    </main>
</body>
</html>